<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
   
    <script data-main="js/app" src="js/vendor/require.js"></script>
	  
    <script type="text/template" id="template1">
         <div class="wrapper">
            <div class="control">
                <input class="control__text" type="text" class="value" placeholder="Add New Note">
                <i class="fa fa-plus-circle fa-lg control__add"></i>
            </div>
            <div class="container">
        
            </div>
        </div>   
       
    </script> 

   <script type="text/template" id="template2">
    <% for (var i = 0; i < data.length; i++) { %>
        <div class="item">

            <span class="item__text someNote"><%= data[i] %></span>
            <i class="fa fa-pencil-square-o fa-lg item__edit someNote"></i>
            <i class="fa fa-trash-o fa-lg item__rem someNote"></i>

            <input class="item__new edit" type="text" value="<%= data[i] %>">
            <i class="fa fa-check-circle fa-lg item__submit edit"></i>
            <i class="fa fa-times-circle fa-lg item__close edit"></i> 

        </div>
    <% }; %>    
    </script>  
</head>
<body>
</body>
</html>